.full-banner {
  .slick-slider {
    .slick-arrow {
      z-index: 1;
    }
    .slick-prev {
      left: calc(50% - 500px);
    }
    .slick-next {
      right: calc(50% - 500px);
    }
    .slick-list {
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0em;
      text-align: left;
      color: #FFF;
      .slick-slide > div > div > div {
        position: relative;
      }
      img {
        width: 100%;
      }
      h3 {
        position: absolute;
        // top: 151px; // Ideal na tela de 1600px
        top: 100px;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        left: calc(50% - 400px);
      }
      p {
        position: absolute;
        // top: 240px; // Ideal na tela de 1600px
        top: 180px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        max-width: 465px;
        left: calc(50% - 400px);
      }
      button {
        position: absolute;
        // top: 320px; // Ideal na tela de 1600px
        top: 260px;
        width: 128px;
        height: 48px;
        padding: 14px 30px 14px 30px;
        border-radius: 10px;
        background: #FAA500;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFF;
        border: none;
        left: calc(50% - 400px);
      }
    }
    .slick-dots {
      bottom: 75px;
      li {
        margin: 0 8px;
        width: 16px;
        height: 16px;
      }
      li button {
        width: 16px;
        height: 16px;  
        border: 2px solid #FAA500;
        border-radius: 50%;
      }
      li.slick-active button {
        background-color: #FAA500;
      }
      li button:before {
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 50%;
        content: "";
      }
      li.slick-active button:before {
        font-size: 300px;
        background-color: #FAA500;        
      }
    }
  }
}