.wrapper-banner-info-card {
  padding-bottom: 80px;
  @media(max-width: 480px) {
    padding-bottom: 39px;
  }
  .banner-info-card {
    display: flex;
    max-width: 1600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 64px;
    @media(max-width: 1599px) {
      padding: 0 20px;
    }
    @media(max-width: 767px) {
      flex-direction: column;
      padding: 0 31px;
      gap: 24px;
    }  
    .text-info-card {
      font-family: Titillium Web;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media(max-width: 1599px) {
        width: 30%;
      }  
      @media(max-width: 767px) {
        width: 100%;
      }  
      .title-info-card {
        font-size: 24px;
        font-weight: 700;
        line-height: 37px;
      }
      .description-info-card {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        @media(width: 360px) {
          width: 269px
        }
      }
    }
    .img-info-card {
      @media(max-width: 1599px) {
        width: 70%;
      }
      @media(max-width: 767px) {
        width: 100%;
      }
      img {
        border-radius: 4px;
        @media(max-width: 1599px) {
          width: 100%;
        }
      }
    }
  }
}