.wrapper-footer-bar {
  background: #353535;
  .footer-bar {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    height: 85px;
    align-items: center;
    @media(max-width: 1599px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media(max-width: 850px) {
      flex-direction: column;
      justify-content: space-around;
      height: 233px;
    }
    .social-medias, .payment-methods, .credits {
      gap: 22px;
      display: flex;
      @media(max-width: 850px) {
        gap: 24px;
      }
    }
    .credits {
      font-family: Open Sans;
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: left;
      display: flex;
      .credits-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}