.wrapper-tip-bar-brands {
  padding-bottom: 80px;
  @media(max-width: 480px) {
    padding-bottom: 41px;
  }
  .tip-bar-brands {
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title-bar-brands {
      font-family: Titillium Web;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: center;
      color: #353535;
      padding-bottom: 24px;
      @media(width: 360px) {
        font-size: 24px;
        line-height: 37px;
      }
    }
    .imgs-bar-brands {
      display: flex;
      gap: 15px;
      overflow: hidden;
      @media(max-width: 1599px) {
        max-width: 100%;  
        padding: 0 20px;
        justify-content: left;
      }
      @media(max-width: 360px) {
        padding: 0 31px;
      }
    }
    .img-brand {
      width: 308px;
      height: 64px;
      @media(max-width: 1599px) {
        min-width: 308px;
      }
      @media(max-width: 360px) {
        min-width: 298px;
      }
      img {
        max-width: 100%;
        @media(max-width: 480px) {
          max-width: none;
        }
      }
    }
  }
}