.wrapper-modal-newsletter {
  background-color: #000000B2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9;
  .modal-newsletter {
    width: 851px;
    height: 558.25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @media(max-width: 1599px) {
      width: calc(100% - 40px);
      max-width: 850px;
      height: auto;
    }
    @media(max-width: 799px) {
      max-width: 450px;
    }
    @media(width: 360px) {
      width: calc(100% - 62px);
    }
    .close-modal {
      font-family: Lato;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #FFF;
      text-transform: uppercase;
      cursor: pointer;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
      top: -20px;
    }
    .content-modal {
      background-color: #FFF;
      display: flex;
      height: 530px;
      @media (max-width: 799px) {
        padding: 20px;
        height: auto;
        min-height: 307px;
      }
      .img-modal {
        img {
          height: 100%;
        }
        @media (max-width: 799px) {
          display: none;
        }
      }
      .text-modal {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Titillium Web;
        letter-spacing: 0px;
        .title-modal {
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
          color: #464B54;    
          padding: 13px;      
          text-transform: uppercase;
        }
        .description-modal {
          font-family: Titillium Web;
          font-size: 20px;
          font-weight: 400;
          line-height: 23px;
          text-align: center;
          color: #787D83;
          padding-bottom: 25px;
          @media(max-width: 480px) {
            font-size: 16px;
          }        
        }
        .hightligth-description {
          font-family: Titillium Web;
          color: #787D83;
          font-weight: 700;
        }
        .wrapper-send-info {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
        .input-mail {
          height: 40px;
          width: 322px;
          border-radius: 10px;
          border: 1px solid #C4C4C4;
          font-family: Titillium Web;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
          color: #787D83;
          padding: 10px 13px;
          box-sizing: border-box;
        }
        .button-cta-mail {
          width: 322px;
          height: 40px;
          color: #FFF;
          font-family: Titillium Web;
          font-size: 12px;
          font-weight: 700;
          line-height: 20px;
          text-align: left;
          background-color: #FAA500;
          border-radius: 10px;
          border: none;
          text-align: center;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
        }
        .icon-send {
          width: 12px;
          height: 20px;
        }
        @media(max-width: 480px) {
          .wrapper-send-info, .input-mail, .button-cta-mail {
            width: 100%;
          }
        }
      }
    }
  }
}